.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.default-layout{
height: 100vh;
overflow: hidden;
}
.outlet-default{
height: calc(100vh - 100px);
overflow-y: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 1vmin);
  color: white;
}

.footer {
  background-color: #282c34;
  padding: 1px 0;
  text-align: center;
  color: white;
}

.gpq-logo {
  height: 40px;
  width: 60px;
  overflow: hidden;
  margin: 0 20px;
}

.gpq-logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* overflow: hidden; */
}

.list-header {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 0px 20px;
}

ul li {
  list-style: none;
}
a {
  text-decoration: none !important;
  color: white;
}

ul li a:hover {
  border-bottom: 2px solid #0029dd;
  color: rgb(0, 255, 213);
}

.App-link {
  color: #61dafb;
}

.input-content {
  margin: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
